01-docker-terraform/2_docker_sql/data_pgadmin/pgadmin4.db

02-workflow-orchestration/flows/04_gcp_kv.yaml
/workspaces/data-engineering-zoomcamp2025/02-workflow-orchestration/flows/04_gcp_kv.yaml

spark

notebooks